{% extends 'vsb_app/base.html' %}
{% load static %}

{% block title %}
    HOMEPAGE
{% endblock %}

{% block add_css %}
<!-- Import per stile della homepage e dello swiper -->
    <link rel="stylesheet" href="{% static 'vsb_app/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'vsb_app/css/swiper-bundle.min.css' %}">
{% endblock %}
{% block main %}

    <div class="banner" >
      <div class="banner__slider">
         <img src="{% static 'vsb_app/images/background2.jpg' %}" id="slideImg" alt="">
      </div>
      <div class="overlay">
         <div class="content">
            {% if user.is_authenticated and user.is_client %}
                <h1>Benvenuto su VSB-Motors</h1>
                <h2>{{ user.last_name }} {{ user.first_name }}</h2>
            {% else %}
                 <h1>Benvenuto su VSB-Motors</h1>
                 <h2>{{ user.concessionaria.ragione_sociale }}</h2>
             {% endif %}
             {% if not user.is_authenticated %}
                 <div style="margin-top: 50px">
                    <h3 style="margin-top: 30px">Registrati per scoprire i nostri fantastici contenuti!</h3>
                    <button class="banner__button" type="button"><a href="{% url 'vsb_app:sign_in' %}">ACCEDI</a></button>
                   <button class="banner__button" type="button"><a href="{% url 'vsb_app:sign_up' %}">ISCRIVITI</a></button>
                 </div>
             {% endif %}
         </div>
      </div>
   </div>
    {% comment %}
   <!-- Slider -->
   <div class="slider-wrapper" >
      <div class="fr-slider" >
         <div class="fs_loader"></div>
         <div class="slide">
             <img data-fixed class="slide-bg" src="{% static 'vsb_app/images/background1.jpg' %}" alt="Slide">
            <!-- Visualizzo un messaggio di benvenuto in base all'utente autenticato -->
             {% if user.is_authenticated and not user.concessionaria.ragione_sociale %}
                <p class="welcome__container" style="color: white; font-size: 40px; text-align: center">Benvenuto in VSB-Motors <br> {{ user.first_name }}</p>
             {% elif user.is_authenticated and user.concessionaria.ragione_sociale %}
                <p class="welcome__container" style="color: white; font-size: 40px; text-align: center;">Benvenuto in VSB-Motors <br> {{ user.concessionaria.ragione_sociale }}</p>
             {% endif %}
            {% comment %}
            <!-- Posizioni immagine -->
            <img data-position="155,554" data-delay="300" data-in="fade" data-out="fade" src="{% static 'vsb_app/images/slider/e1.png' %}" alt="">
            <img data-position="185,430" data-delay="600" data-in="fade" data-out="fade" src="{% static 'vsb_app/images/slider/e2.png' %}" alt="">
            <img data-position="236,449" data-delay="1000" data-in="fade" data-out="fade" src="{% static 'vsb_app/images/slider/e3.png' %}" alt="">
            <img data-position="322,468" data-delay="1400" data-in="fade" data-out="fade" src="{% static 'vsb_app/images/slider/e4.png' %}" alt="">
            <img data-position="384,446" data-delay="1800" data-in="fade" data-out="fade" src="{% static 'vsb_app/images/slider/e5.png' %}" alt="">
         </div>
         <div class="slide">
            <!-- posizioni immagine slider -->
            <img data-fixed class="slide-bg" src="{% static 'vsb_app/images/background2.jpg' %}" alt="Slide">
            {% comment %}
            <img data-position="108,282" data-delay="300" data-in="fade" data-out="fade" src="{% static 'vsb_app/images/slider/s2e1.png' %}" alt="">
            <img data-position="262,131" data-delay="600" data-in="fade" data-out="fade" src="{% static 'vsb_app/images/slider/s2e2.png' %}" alt="">
            <img data-position="322,202" data-delay="1000" data-in="fade" data-out="fade" src="{% static 'vsb_app/images/slider/s2e3.png' %}" alt="">
            <img data-position="369,60" data-delay="1400" data-in="fade" data-out="fade" src="{% static 'vsb_app/images/slider/s2e4.png' %}" alt="">
         </div>
         <div class="slide">
            <!-- posizioni immagine slider -->
            <img data-fixed class="slide-bg" src="{% static 'vsb_app/images/background4.jpg' %}" alt="Slide">
            {% comment %}
            <img data-position="108,282" data-delay="300" data-in="fade" data-out="fade" src="{% static 'vsb_app/images/slider/s2e1.png' %}" alt="">
            <img data-position="262,131" data-delay="600" data-in="fade" data-out="fade" src="{% static 'vsb_app/images/slider/s2e2.png' %}" alt="">
            <img data-position="322,202" data-delay="1000" data-in="fade" data-out="fade" src="{% static 'vsb_app/images/slider/s2e3.png' %}" alt="">
            <img data-position="369,60" data-delay="1400" data-in="fade" data-out="fade" src="{% static 'vsb_app/images/slider/s2e4.png' %}" alt="">
         </div>
         <div class="slide">
            <img data-fixed class="slide-bg" src="{% static 'vsb_app/images/background3.jpg' %}" alt="Slide">
            <!-- posizioni immagine slider -->
            {% comment %}
            <img data-position="93,505" data-delay="300" data-in="fade" data-out="fade" src="{% static 'vsb_app/images/slider/deer.png' %}" alt="">
            <img data-position="263,274" data-delay="600" data-in="fade" data-out="fade" src="{% static 'vsb_app/images/slider/s3e1.png' %}" alt="">
            <img data-position="338,316" data-delay="1000" data-in="fade" data-out="fade" src="{% static 'vsb_app/images/slider/s2e4.png' %}" alt="">
            <a data-position="440,485" data-delay="1500" data-in="fade" data-out="fade" class="button white-color">Purchase Now </a>
         </div>
      </div>
   </div>
    {% endcomment %}
   <!-- End Slider -->

   <!-- About Section -->
   <a name="about"></a>
   <div class="container-about">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <h3 class="title-un">CHI SIAMO?</h3>
               <div class="title-un-icon"><i class="ri-leaf-fill"></i></div>
               <p class="title-un-des">VSB-Motors è una piattaforma online che salvaguardia l'ambiente, permette alle concessionarie di inserire annunci per la vendita delle loro automobili elettriche e gli
                  acquirenti, visualizzando questi annunci, possano finalmente trovare l'auto da loro sempre desiderata, sostentendo allo stesso tempo l'ambiente!
               </p>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4">
               <!-- Service item -->
               <div class="service-box-sb wow fadeInUp">
                  <div class="service-img">
                     <img src="{% static 'vsb_app/images/sas.jpg' %}" alt="">
                  </div>
                  <div class="service-info">
                     <h5>CONCESSIONARIA</h5>
                     <div class="desc">
                        Le migliori concessionarie d'Italia sono registrate proprio qui da noi, corri nella sezione Negozio per vedere le loro auto!
                     </div>
                  </div>
               </div>
               <!-- End Service item -->
            </div>
            <div class="col-md-4">
               <!-- Service item -->
               <div class="service-box-sb wow fadeInUp" data-wow-delay=".2s">
                  <div class="service-img">
                     <img src="{% static 'vsb_app/images/intermediario2.jpg' %}" alt="">
                  </div>
                  <div class="service-info">
                     <h5>VSB-MOTORS</h5>
                     <div class="desc">
                        Il tuo intermediario di fiducia, ti permetterà finalmente di trovare l'auto dei tuoi sogni!
                     </div>
                  </div>
               </div>
               <!-- End Service item -->
            </div>
            <div class="col-md-4">
               <!-- Service item -->
               <div class="service-box-sb wow fadeInUp" data-wow-delay=".4s">
                  <div class="service-img">
                     <img src="{% static  'vsb_app/images/sasaa.jpg' %}" alt="">
                  </div>
                  <div class="service-info">
                     <h5>CLIENTE</h5>
                     <div class="desc">
                        Clienti da tutto il mondo visitano la nostra piattaforma, il gioco è semplice e veloce corri nel nostro Store e divertiti!
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- End About Section -->

   <!-- Future Section -->
   <a name="future"></a>
   <section class="about section">
      <div class="about__container container grid">
         <div class="about__group">
            <figure>
               <img src="{% static 'vsb_app/images/about.jpg' %}" alt="" class="about__img">
            </figure>
         </div>

         <div class="about__data">
            <h2 class="section__title about__title">
               Le automobili con la <br> Tecnologia del Futuro
            </h2>
            <p class="about__description">
                Guarda il futuro con le auto elettriche ad alte prestazioni prodotte da marchi rinomati. Presentano build e design futuristici con piattaforme nuove e innovative che durano a lungo.
            </p>
            <a href="#internal" class="button__about" >SCOPRI DI PIÙ</a>
         </div>
      </div>
   </section>
   <!-- End Future Section -->

   <!-- Slider Shop Section -->
    {% if user.is_client %}
   <section class="popular section" style="margin-bottom: 3%; margin-top: 3%;">
      <h2 class="section__title" style="text-align: center; color: black; margin-bottom: 2%;">
         Scegli la macchina elettrica dei tuoi sogni!
      </h2>

      <div class="popular__container container swiper">
         <div class="swiper-wrapper">
            {% for automobile in shop_cars_list %}
            <!-- inizio card -->
            <article class="popular__card swiper-slide">
               <div class="shape shape__smaller">
                  <h1 class="popular__title"> {{ automobile.marca }}</h1>
                  <h3 class="popular__subtitle"> {{ automobile.modello }}</h3>
                  <img src="{{ automobile.immagini.all.0.immagine.url }}" class="popular__img">
                  <div class="popular__data">
                     <div class="popular__data-group">
                        <i class="ri-dashboard-3-line"></i>{{ automobile.potenza }} kw
                     </div>
                     <div class="popular__data-group">
                        <i class="ri-funds-box-line"></i> {{ automobile.batteria }} kwh
                     </div>
                     <div class="popular__data-group">
                        <i class="ri-charging-pile-2-line"></i> {{ automobile.alimentazione }}
                     </div>
                     <div class="popular__data-group">
                        <i class="ri-flashlight-fill"></i> {{ automobile.cavalli }} cv
                     </div>
                  </div>
               </div>
               <h3 class="popular__price">{{ automobile.prezzo|floatformat }} €</h3>
               <button class="popular__button">
                   <a style="text-decoration: none" href="{% url 'vsb_app:single_product' automobile.pk %}"><i class="ri-shopping-bag-line"></i></a>
               </button>
            </article>
            {% endfor %}
             <!-- fine card -->
         </div>
         <div class="swiper-pagination"></div>
      </div>
   </section>
    {% endif %}
   <!-- End Slider Shop Section -->

    <!--Features Section-->
   <section class="features section">
      <h2 class="features__title">
         Le Nuove Funzionalità
      </h2>
      <div class="features__container container">
         <div class="features__group">
            <img src="{% static 'vsb_app/images/features.png' %}" alt="" class="features__img">
            <div class="features__card features__card-1">
               <h3 class="features__card-title">800v</h3>
               <p class="features__card-description">Ricarica <br> Turbo</p>
            </div>
            <div class="features__card features__card-2">
               <h3 class="features__card-title">350</h3>
               <p class="features__card-description">Km/h <br> Velocità</p>
            </div>
            <div class="features__card features__card-3">
               <h3 class="features__card-title">480</h3>
               <p class="features__card-description">Km <br> Autonomia</p>
            </div>
         </div>
      </div>
      <img src="{% static 'vsb_app/images/map.svg' %}" alt="" class="features__map">
   </section>
   <!--End Features Section-->

   <!-- Offer Section -->
   <section class="offer section">
      <div class="offer__container container grid">
         <img src="{% static 'vsb_app/images/offer-bg.png' %}" alt="" class="offer__bg">

         <div class="offer__data">
            <h2 class="section__title offer__title">
               Vuoi ricevere <br> Offerte Speciali?
            </h2>

            <p class="offer__description">
                Così da essere il primo a ricevere tutte le informazioni sui nostri prodotti e le auto nuove via e-mail</p>

            <a href="{% url 'vsb_app:sign_up' %}" class="offer__button">
               ISCRIVITI ORA
            </a>
         </div>
         <img src="{% static 'vsb_app/images/offer.png' %}" alt="" class="offer__img">
      </div>
   </section>
   <!-- End Offer Section -->

    <!-- Clip Image Section -->
    <a name="internal"></a>
    <section class="clip section">
      <div class="clip__container">
         <img src="{% static 'vsb_app/images/tesla_internal.jpg' %}" alt="" class="clip__img">
         <div class="description__container" style="text-align: center;">
            <h2 style="color: white;" class="title__clip">Gli Interni del Futuro</h2>
            <br>
            <p class="paragraph__clip">Ecco i nuovi interni futuristici della meravigliosa Tesla Model S, <br> acquistabile ora direttamente dal nostro negozio!</p>
         </div>
      </div>
   </section>

    <!-- End Clip Image Section -->

   <!-- Video -->
   <center>
      <video autoplay muted loop width="70%" height="auto" style="margin-top: 3%;" class="video">
         <source src="{% static 'vsb_app/video/video4.mp4' %}" type="video/mp4">
         <source src="{% static 'vsb_app/movie.ogg' %}" type="video/ogg">
         Your browser does not support the video tag.
      </video>
   </center>
   <!--End Video -->

 {% endblock %}

{% block add_js %}
       <script src="{% static 'vsb_app/js/swiper-bundle.min.js' %}"></script>
       <script src="{%  static 'vsb_app/js/scrollreveal.min.js' %}"></script>
       <script>
          var slideImg = document.getElementById("slideImg");
          var images = ["{% static 'vsb_app/images/background2.jpg' %}",
             "{% static 'vsb_app/images/background3.jpg' %}", "{% static 'vsb_app/images/background1.jpg' %}", "{% static 'vsb_app/images/background4.jpg' %}", "{% static 'vsb_app/images/background5.jpg' %}"];

          var len = images.length;
          var i = 0;

          function slider(){
             if (i > len-1){
                i = 0;
             }
             slideImg.src = images[i];
             i++;
             setTimeout('slider()', 3000);
          }
       </script>
{% endblock %}
