{% extends 'vsb_app/base.html' %}
{% load static %}

{% block title %}
    HOMEPAGE
{% endblock %}

{% block add_css %}
    <link rel="stylesheet" href="{% static 'vsb_app/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'vsb_app/css/swiper-bundle.min.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
{% endblock %}
{% block main %}
     <!-- Slider -->
   <div class="slider-wrapper" >
      <div class="fr-slider" >
         <div class="fs_loader"></div>
         <div class="slide">
            <img data-fixed class="slide-bg" src="{% static 'vsb_app/images/features_bg.jpg' %}" alt="Slide">
            <img data-position="155,554" data-delay="300" data-in="fade" data-out="fade" src="{% static 'vsb_app/images/slider/e1.png' %}" alt="">
            <img data-position="185,430" data-delay="600" data-in="fade" data-out="fade" src="{% static 'vsb_app/images/slider/e2.png' %}" alt="">
            <img data-position="236,449" data-delay="1000" data-in="fade" data-out="fade" src="{% static 'vsb_app/images/slider/e3.png' %}" alt="">
            <img data-position="322,468" data-delay="1400" data-in="fade" data-out="fade" src="{% static 'vsb_app/images/slider/e4.png' %}" alt="">
            <img data-position="384,446" data-delay="1800" data-in="fade" data-out="fade" src="{% static 'vsb_app/images/slider/e5.png' %}" alt="">
         </div>
         <div class="slide">
            <img data-fixed class="slide-bg" src="{% static 'vsb_app/images/slide001.jpg' %}" alt="Slide">
            <img data-position="108,282" data-delay="300" data-in="fade" data-out="fade" src="{% static 'vsb_app/images/slider/s2e1.png' %}" alt="">
            <img data-position="262,131" data-delay="600" data-in="fade" data-out="fade" src="{% static 'vsb_app/images/slider/s2e2.png' %}" alt="">
            <img data-position="322,202" data-delay="1000" data-in="fade" data-out="fade" src="{% static 'vsb_app/images/slider/s2e3.png' %}" alt="">
            <img data-position="369,60" data-delay="1400" data-in="fade" data-out="fade" src="{% static 'vsb_app/images/slider/s2e4.png' %}" alt="">
         </div>
         <div class="slide">
            <img data-fixed class="slide-bg" src="{% static 'vsb_app/images/slide3.jpg' %}" alt="Slide">
            <img data-position="93,505" data-delay="300" data-in="fade" data-out="fade" src="{% static 'vsb_app/images/slider/deer.png' %}" alt="">
            <img data-position="263,274" data-delay="600" data-in="fade" data-out="fade" src="{% static 'vsb_app/images/slider/s3e1.png' %}" alt="">
            <img data-position="338,316" data-delay="1000" data-in="fade" data-out="fade" src="{% static 'vsb_app/images/slider/s2e4.png' %}" alt="">
            <a data-position="440,485" data-delay="1500" data-in="fade" data-out="fade" class="button white-color">Purchase Now </a>
         </div>
      </div>
   </div>
   <!-- End Slider -->

   <!-- About Section -->
   <a name="about"></a>
   <div class="container-about">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <h3 class="title-un">WHO WE ARE?</h3>
               <div class="title-un-icon"><i class="fa ion-ios-flame-outline"></i></div>
               <p class="title-un-des">VSB-Motors è una piattaforma online in cui le concessionarie possano inserire annunci per la vendita delle loro vetture e gli
                  acquirenti, visualizzando questi annunci, possano finalmente trovare l'auto da loro sempre desiderata! Quindi VSB-Motors agirà da intermediario tra le concessionarie e i clienti
                  interessati all’acquisto di un’autovettura ordinabile direttamente da casa in modo semplice e veloce.
                  e intuitivo. </p>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4">
               <!-- Service item -->
               <div class="service-box-sb wow fadeInUp">
                  <div class="service-img">
                     <img src="{% static 'vsb_app/images/sas.jpg' %}" alt="">
                  </div>
                  <div class="service-info">
                     <h5>VENDORS</h5>
                     <div class="desc">
                        Le migliori concessionarie d'Italia sono registrate proprio qui da noi, corri a vederle cliccando l'immagine!
                        <br>
                        <a class="see-more" href="#">
                     See More &rarr;
                     <div class="line"></div>
                  </a>
                     </div>
                  </div>
               </div>
               <!-- End Service item -->
            </div>
            <div class="col-md-4">
               <!-- Service item -->
               <div class="service-box-sb wow fadeInUp" data-wow-delay=".2s">
                  <div class="service-img">
                     <img src="{% static 'vsb_app/images/sasa.jpg' %}" alt="">
                  </div>
                  <div class="service-info">
                     <h5>VSB-MOTORS</h5>
                     <div class="desc">
                        VSB-Motors sarà il tuo intermediario di fiducia, qui potrai finalmente trovare l'auto dei tuoi sogni!
                        <a class="see-more" href="#">
                     See More &rarr;
                     <div class="line"></div>
                  </a>
                     </div>
                  </div>
               </div>
               <!-- End Service item -->
            </div>
            <div class="col-md-4">
               <!-- Service item -->
               <div class="service-box-sb wow fadeInUp" data-wow-delay=".4s">
                  <div class="service-img">
                     <img src="{% static  'vsb_app/images/sasaa.jpg' %}" alt="">
                  </div>
                  <div class="service-info">
                     <h5>CLIENT</h5>
                     <div class="desc">
                        Clienti da tutto il mondo visitano la nostra piattaforma, il gioco è semplice e veloce corri nel nostro Store e divertiti!
                        <br>
                        <a class="see-more" href="#">See More &rarr;<div class="line"></div></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- End About Section -->

   <!-- Future Section -->
   <a name="future"></a>
   <section class="about section">
      <div class="about__container container grid">
         <div class="about__group">
            <figure>
               <img src="{% static 'vsb_app/images/about.jpg' %}" alt="" class="about__img">
            </figure>
         </div>

         <div class="about__data">
            <h2 class="section__title about__title">
               Machines With <br> Future Technology
            </h2>
            <p class="about__description">
               See the future with high-performance electric cars produced by renowed brands. They feature futuristic builds and designs with new and innovative platforms that last a long time.
            </p>
            <a href="shop.html" class="button__about" >KNOW MORE</a>
         </div>
      </div>
   </section>
   <!-- End Future Section -->

   <!-- Slider Shop Section -->
   <section class="popular section" style="margin-bottom: 3%; margin-top: 3%;">
      <h2 class="section__title" style="text-align: center; color: black; margin-bottom: 2%;">
         Choose Your Favourite Luxury Car
      </h2>
      <div class="popular__container container swiper">
         <div class="swiper-wrapper">
            <article class="popular__card swiper-slide">
               <div class="shape shape__smaller">
                  <h1 class="popular__title">Porsche</h1>
                  <h3 class="popular__subtitle">Turbo S</h3>
                  <img src="{% static 'vsb_app/images/popular1.png' %}" class="popular__img">
                  <div class="popular__data">
                     <div class="popular__data-group">
                        <i class="ri-dashboard-3-line"></i>3.7 Sec
                     </div>
                     <div class="popular__data-group">
                        <i class="ri-funds-box-line"></i> 356 Km/h
                     </div>
                     <div class="popular__data-group">
                        <i class="ri-charging-pile-2-line"></i> Electric
                     </div>
                     <div class="popular__data-group">
                        <i class="ri-flashlight-fill"></i> 580 Cv
                     </div>
                  </div>
               </div>
               <h3 class="popular__price">€ 175.900</h3>
               <button class="popular__button">
                  <i class="ri-shopping-bag-line"></i>
               </button>
            </article>

            <article class="popular__card swiper-slide">
               <div class="shape shape__smaller">
                  <h1 class="popular__title">Tesla</h1>
                  <h3 class="popular__subtitle">Model X</h3>
                  <img src="{% static 'vsb_app/images/featured1.png' %}" class="popular__img">
                  <div class="popular__data">
                     <div class="popular__data-group">
                        <i class="ri-dashboard-3-line"></i>2.6 Sec
                     </div>
                     <div class="popular__data-group">
                        <i class="ri-funds-box-line"></i> 262 Km/h
                     </div>
                     <div class="popular__data-group">
                        <i class="ri-charging-pile-2-line"></i> Electric
                     </div>
                     <div class="popular__data-group">
                        <i class="ri-flashlight-fill"></i> 1020 Cv
                     </div>
                  </div>
               </div>
               <h3 class="popular__price">€ 175.900</h3>
               <button class="popular__button">
                  <i class="ri-shopping-bag-line"></i>
               </button>
            </article>

            <article class="popular__card swiper-slide">
               <div class="shape shape__smaller">
                  <h1 class="popular__title">Porsche</h1>
                  <h3 class="popular__subtitle">Taycan</h3>
                  <img src="{% static 'vsb_app/images/popular2.png' %}" class="popular__img">
                  <div class="popular__data">
                     <div class="popular__data-group">
                        <i class="ri-dashboard-3-line"></i>3.7 Sec
                     </div>
                     <div class="popular__data-group">
                        <i class="ri-funds-box-line"></i> 356 Km/h
                     </div>
                     <div class="popular__data-group">
                        <i class="ri-charging-pile-2-line"></i> Electric
                     </div>
                     <div class="popular__data-group">
                        <i class="ri-flashlight-fill"></i> 580 Cv
                     </div>
                  </div>
               </div>
               <h3 class="popular__price">€ 98.900</h3>
               <button class="popular__button">
                  <i class="ri-shopping-bag-line"></i>
               </button>
            </article>

            <article class="popular__card swiper-slide">
               <div class="shape shape__smaller">
                  <h1 class="popular__title">Audi</h1>
                  <h3 class="popular__subtitle">E-tron</h3>
                  <img src="{% static 'vsb_app/images/featured3.png' %}" class="popular__img">
                  <div class="popular__data">
                     <div class="popular__data-group">
                        <i class="ri-dashboard-3-line"></i>4.5 Sec
                     </div>
                     <div class="popular__data-group">
                        <i class="ri-funds-box-line"></i> 210 Km/h
                     </div>
                     <div class="popular__data-group">
                        <i class="ri-charging-pile-2-line"></i> Electric
                     </div>
                     <div class="popular__data-group">
                        <i class="ri-flashlight-fill"></i> 503 Cv
                     </div>
                  </div>
               </div>
               <h3 class="popular__price">€ 175.900</h3>
               <button class="popular__button">
                  <i class="ri-shopping-bag-line"></i>
               </button>
            </article>

            <article class="popular__card swiper-slide">
               <div class="shape shape__smaller">
                  <h1 class="popular__title">Porsche</h1>
                  <h3 class="popular__subtitle">Turbo S Cross</h3>
                  <img src="{% static 'vsb_app/images/popular3.png' %}" class="popular__img">
                  <div class="popular__data">
                     <div class="popular__data-group">
                        <i class="ri-dashboard-3-line"></i>3.7 Sec
                     </div>
                     <div class="popular__data-group">
                        <i class="ri-funds-box-line"></i> 356 Km/h
                     </div>
                     <div class="popular__data-group">
                        <i class="ri-charging-pile-2-line"></i> Electric
                     </div>
                     <div class="popular__data-group">
                        <i class="ri-flashlight-fill"></i> 580 Cv
                     </div>
                  </div>
               </div>
               <h3 class="popular__price">€ 150.900</h3>
               <button class="popular__button">
                  <i class="ri-shopping-bag-line"></i>
               </button>
            </article>

            <article class="popular__card swiper-slide">
               <div class="shape shape__smaller">
                  <h1 class="popular__title">Tesla</h1>
                  <h3 class="popular__subtitle">Model 3</h3>
                  <img src="{% static 'vsb_app/images/featured2.png' %}" class="popular__img">
                  <div class="popular__data">
                     <div class="popular__data-group">
                        <i class="ri-dashboard-3-line"></i>3.3 Sec
                     </div>
                     <div class="popular__data-group">
                        <i class="ri-funds-box-line"></i> 225 Km/h
                     </div>
                     <div class="popular__data-group">
                        <i class="ri-charging-pile-2-line"></i> Electric
                     </div>
                     <div class="popular__data-group">
                        <i class="ri-flashlight-fill"></i> 490 Cv
                     </div>
                  </div>
               </div>
               <h3 class="popular__price">€ 45.900</h3>
               <button class="popular__button">
                  <i class="ri-shopping-bag-line"></i>
               </button>
            </article>

            <article class="popular__card swiper-slide">
               <div class="shape shape__smaller">
                  <h1 class="popular__title">Porsche</h1>
                  <h3 class="popular__subtitle">Boxster 987</h3>
                  <img src="{% static 'vsb_app/images/featured4.png' %}" class="popular__img">
                  <div class="popular__data">
                     <div class="popular__data-group">
                        <i class="ri-dashboard-3-line"></i>4.5 Sec
                     </div>
                     <div class="popular__data-group">
                        <i class="ri-funds-box-line"></i> 320 Km/h
                     </div>
                     <div class="popular__data-group">
                        <i class="ri-charging-pile-2-line"></i> Electric
                     </div>
                     <div class="popular__data-group">
                        <i class="ri-flashlight-fill"></i> 410 Cv
                     </div>
                  </div>
               </div>
               <h3 class="popular__price">€ 126.900</h3>
               <button class="popular__button">
                  <i class="ri-shopping-bag-line"></i>
               </button>
            </article>

             <article class="popular__card swiper-slide">
               <div class="shape shape__smaller">
                  <h1 class="popular__title">Porsche</h1>
                  <h3 class="popular__subtitle">Panamera</h3>
                  <img src="{% static 'vsb_app/images/popular3.png' %}" class="popular__img">
                  <div class="popular__data">
                     <div class="popular__data-group">
                        <i class="ri-dashboard-3-line"></i>3.3 Sec
                     </div>
                     <div class="popular__data-group">
                        <i class="ri-funds-box-line"></i> 315 Km/h
                     </div>
                     <div class="popular__data-group">
                        <i class="ri-charging-pile-2-line"></i> Electric
                     </div>
                     <div class="popular__data-group">
                        <i class="ri-flashlight-fill"></i> 700 Cv
                     </div>
                  </div>
               </div>
               <h3 class="popular__price">€ 98.986</h3>
               <button class="popular__button">
                  <i class="ri-shopping-bag-line"></i>
               </button>
            </article>

            <article class="popular__card swiper-slide">
               <div class="shape shape__smaller">
                  <h1 class="popular__title">Porsche</h1>
                  <h3 class="popular__subtitle">Cayman</h3>
                  <img src="{% static 'vsb_app/images/popular5.png' %}" class="popular__img">
                  <div class="popular__data">
                     <div class="popular__data-group">
                        <i class="ri-dashboard-3-line"></i>3.7 Sec
                     </div>
                     <div class="popular__data-group">
                        <i class="ri-funds-box-line"></i> 356 Km/h
                     </div>
                     <div class="popular__data-group">
                        <i class="ri-charging-pile-2-line"></i> Electric
                     </div>
                     <div class="popular__data-group">
                        <i class="ri-flashlight-fill"></i> 580 Cv
                     </div>
                  </div>
               </div>
               <h3 class="popular__price">€ 128.900</h3>
               <button class="popular__button">
                  <i class="ri-shopping-bag-line"></i>
               </button>
            </article>
         </div>
         <div class="swiper-pagination"></div>
      </div>
   </section>

   <!-- End Slider Shop Section -->

    <!--Features Section-->
   <section class="features section">
      <h2 class="features__title">
         More Features
      </h2>
      <div class="features__container container">
         <div class="features__group">
            <img src="{% static 'vsb_app/images/features.png' %}" alt="" class="features__img">
            <div class="features__card features__card-1">
               <h3 class="features__card-title">800v</h3>
               <p class="features__card-description">Turbo <br> Chargin</p>
            </div>
            <div class="features__card features__card-2">
               <h3 class="features__card-title">350</h3>
               <p class="features__card-description">Km <br> Range</p>
            </div>
            <div class="features__card features__card-3">
               <h3 class="features__card-title">480</h3>
               <p class="features__card-description">Km <br> Travel</p>
            </div>
         </div>
      </div>
      <img src="{% static 'vsb_app/images/map.svg' %}" alt="" class="features__map">
   </section>
   <!--End Features Section-->

   <!-- Offer Section -->
   <section class="offer section">
      <div class="offer__container container grid">
         <img src="{% static 'vsb_app/images/offer-bg.png' %}" alt="" class="offer__bg">

         <div class="offer__data">
            <h2 class="section__title offer__title">
               Do you Want to Receive <br> Special Offers?
            </h2>

            <p class="offer__description">
               Be the first to receive all the information about our products and new cars by email by subscribing to our mailing list
            </p>

            <a href="" class="offer__button">
               SUBSCRIBE NOW
            </a>
         </div>
         <img src="{% static 'vsb_app/images/offer.png' %}" alt="" class="offer__img">
      </div>
   </section>
   <!-- End Offer Section -->



   <!-- Video -->
   <center>
      <video autoplay muted loop width="65%" height="auto" style="margin-top: 3%;" class="video">
         <source src="{% static 'vsb_app/video/video3.mp4' %}" type="video/mp4">
         <source src="{% static 'vsb_app/movie.ogg' %}" type="video/ogg">
         Your browser does not support the video tag.
      </video>
   </center>
   <!--End Video -->

   <!--Logos Section -->
   <section class="logos section">
      <div class="logos__container container grid">
         <div class="logos__content">
             <a href="https://www.porsche.com/italy/" target="_blank"><img src="{% static 'vsb_app/images/logos1.png' %}" alt="" class="logos__img"></a>
         </div>
         <div class="logos__content">
             <a href="https://www.audi.it/it/web/it.html" target="_blank"><img src="{% static 'vsb_app/images/logos2.png' %}" alt="" class="logos__img"></a>
         </div>
         <div class="logos__content">
             <a href="https://www.tesla.com/it_it" target="_blank"><img src="{% static 'vsb_app/images/logos3.png' %}" alt="" class="logos__img"></a>
         </div>
         <div class="logos__content">
             <a href="https://www.lamborghini.com/it-en" target="_blank"><img src="{% static 'vsb_app/images/logos4.png' %}" alt="" class="logos__img"></a>
         </div>
         <div class="logos__content">
             <a href="https://www.bmw.it/it/home.html" target="_blank"><img src="{% static 'vsb_app/images/logos5.png' %}" alt="" class="logos__img"></a>
         </div>
         <div class="logos__content">
             <a href="https://www.mitsubishi-motors.it/" target="_blank"><img src="{% static 'vsb_app/images/logos6.png' %}" alt="" class="logos__img"></a>
         </div>
      </div>
   </section>
   <!-- End Logos Section -->

   <!--Footer Section-->
   <section class="footer section">
      <div class="shape shape__big"></div>
      <div class="shape shape__small"></div>
      <div class="footer__container container grid">
         <div class="footer_content">
            <a href="" class="footer__logo">
               <i class="ri-steering-fill"></i>VSB-MOTORS
            </a>
            <p class="footer__description">
               We offer the best car of <br> the most recognized brands in <br> the world
            </p>
         </div>
         <div class="footer_content">
            <h3 class="footer__title">Company</h3>
            <ul class="footer__links">
               <li>
                  <a href="" class="footer__link">About</a>
               </li>
               <li>
                  <a href="" class="footer__link">Cars</a>
               </li>
               <li>
                  <a href="" class="footer__link">History</a>
               </li>
               <li>
                  <a href="" class="footer__link">Store</a>
               </li>
            </ul>
         </div>

         <div class="footer_content">
            <h3 class="footer__title">Information</h3>
            <ul class="footer__links">
               <li>
                  <a href="" class="footer__link">Request a quote</a>
               </li>
               <li>
                  <a href="" class="footer__link">Find a dealer</a>
               </li>
               <li>
                  <a href="" class="footer__link">Contact Us</a>
               </li>
               <li>
                  <a href="" class="footer__link">Services</a>
               </li>
            </ul>
         </div>

         <div class="footer_content">
            <h3 class="footer__title">Follow Us</h3>
            <ul class="footer__social">
               <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                  <i class="ri-facebook-fill"></i>
               </a>
               <a href="https://www.instagram.com" target="_blank" class="footer__social-link">
                  <i class="ri-instagram-line"></i>
               </a>
               <a href="https://www.twitter.com" target="_blank" class="footer__social-link">
                  <i class="ri-twitter-line"></i>
               </a>
            </ul>
         </div>
      </div>
   </section>
   <!-- End Footer Section -->

 {% endblock %}

{% block add_js %}
       <script src="{% static 'vsb_app/js/swiper-bundle.min.js' %}"></script>
       <script src="{%  static 'vsb_app/js/scrollreveal.min.js' %}"></script>
{% endblock %}
