{% extends 'vsb_app/base.html' %}
{% load static %}

{% block title %}
    MY-TRANSACTION-CLIENT
{% endblock %}

{% block add_css %}
    <link rel="stylesheet" href="{% static 'vsb_app/css/my_transaction_client.css' %}">
    <link rel="stylesheet" href="{% static 'vsb_app/css/style.css' %}">
{% endblock %}
{% block main %}
    <div class="row">
         <div class="col">
            <div class="h1">Auto Acquistate
            </div>
         </div>
      </div>

   <!-- Contenitore per una riga di vehicle-card -->
   <div class="vehicle_card_row_container">
      <!-- Contenitore per una singola card -->
      <div class="vehicle_card">
         <!-- Gestione stile Tabella degli attributi tramite row e cols di bootstrap -->
         <div class="row">
            <div class="col-md-12">
            <p class="title_car"> Mercedes-Benz Classe A</p>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <a href="single_product.html"><img src="{% static 'vsb_app/images/sfondo_sell.jpg' %}" alt=""></a>
            </div>
         </div>
         <div class="row align-items-center">
            <div class="col-lg-4">
               <p class="details">Prezzo</p>
            </div>
            <div class="col-lg-4">
               <p class="details">Acquistata</p>
            </div>
            <div class="col-lg-4">
               <p class="details">Concessionaria</p>
            </div>
         </div>
         <div class="row align-items-center">
            <div class="col-lg-4">
               <p class="desc">€ 1500</p>
            </div>
            <div class="col-lg-4">
               <p class="desc">16/07/2021</p>
            </div>
            <div class="col-lg-4">
               <p class="desc">Verlanti Alessandro</p>
            </div>
            <!-- Fine Grid -->
         </div>
         <!-- Fine vehicle-card -->
      </div>
      <!-- fine row-container -->
      <!-- Contenitore per una singola card -->
      <div class="vehicle_card">
         <!-- Gestione stile Tabella degli attributi tramite row e cols di bootstrap -->
         <div class="row">
            <div class="col-md-12">
            <p class="title_car"> Mercedes-Benz Classe A</p>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <a href="single_product.html"><img src="{% static 'vsb_app/images/sfondo_sell.jpg' %}"  alt=""></a>
            </div>
         </div>
         <div class="row align-items-center">
            <div class="col-md-4">
               <p class="details">Prezzo</p>
            </div>
            <div class="col-md-4">
               <p class="details">Acquistata</p>
            </div>
            <div class="col-md-4">
               <p class="details">Concessionaria</p>
            </div>
         </div>
         <div class="row align-items-center">
            <div class="col-md-4">
               <p class="desc">€ 1500</p>
            </div>
            <div class="col-md-4 ">
               <p class="desc">16/07/2021</p>
            </div>
            <div class="col-md-4 ">
               <p class="desc">Verlanti Alessandro</p>
            </div>
            <!-- Fine Grid -->
         </div>
         <!-- Fine vehicle-card -->
      </div>
      <!-- fine row-container -->
      <!-- Contenitore per una singola card -->
      <div class="vehicle_card">
           <!-- Gestione stile Tabella degli attributi tramite row e cols di bootstrap -->
           <div class="row">
              <div class="col-md-12">
              <p class="title_car" > Mercedes-Benz Classe A</p>
              </div>
           </div>
           <div class="row">
              <div class="col-md-12">
                 <a href="single_product.html"><img src="{% static 'vsb_app/images/sfondo_sell.jpg' %}" alt=""></a>
              </div>
           </div>
           <div class="row align-items-center">
              <div class="col-md-4">
                 <p class="details">Prezzo</p>
              </div>
              <div class="col-md-4">
                 <p class="details">Acquistata</p>
              </div>
              <div class="col-md-4">
                 <p class="details">Concessionaria</p>
              </div>
           </div>
           <div class="row align-items-center">
              <div class="col-md-4">
                 <p class="desc">€ 1500</p>
              </div>
              <div class="col-md-4 ">
                 <p class="desc">16/07/2021</p>
              </div>
              <div class="col-md-4 ">
                 <p class="desc">Verlanti Alessandro</p>
              </div>
              <!-- Fine Grid -->
           </div>
           <!-- Fine vehicle-card -->
      </div>
      <!-- fine row-container -->
   </div>

    <!-- Contenitore per una riga di vehicle-card -->
   <div class="vehicle_card_row_container">
      <!-- Contenitore per una singola card -->
      <div class="vehicle_card">
         <!-- Gestione stile Tabella degli attributi tramite row e cols di bootstrap -->
         <div class="row">
            <div class="col-md-12">
            <p class="title_car"> Mercedes-Benz Classe A</p>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <a href="single_product.html"><img src="{% static 'vsb_app/images/sfondo_sell.jpg' %}" alt=""></a>
            </div>
         </div>
         <div class="row align-items-center">
            <div class="col-lg-4">
               <p class="details">Prezzo</p>
            </div>
            <div class="col-lg-4">
               <p class="details">Acquistata</p>
            </div>
            <div class="col-lg-4">
               <p class="details">Concessionaria</p>
            </div>
         </div>
         <div class="row align-items-center">
            <div class="col-lg-4">
               <p class="desc">€ 1500</p>
            </div>
            <div class="col-lg-4">
               <p class="desc">16/07/2021</p>
            </div>
            <div class="col-lg-4">
               <p class="desc">Verlanti Alessandro</p>
            </div>
            <!-- Fine Grid -->
         </div>
         <!-- Fine vehicle-card -->
      </div>
      <!-- fine row-container -->
      <!-- Contenitore per una singola card -->
      <div class="vehicle_card">
         <!-- Gestione stile Tabella degli attributi tramite row e cols di bootstrap -->
         <div class="row">
            <div class="col-md-12">
            <p class="title_car"> Mercedes-Benz Classe A</p>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <a href="single_product.html"><img src="{% static 'vsb_app/images/sfondo_sell.jpg' %}"  alt=""></a>
            </div>
         </div>
         <div class="row align-items-center">
            <div class="col-md-4">
               <p class="details">Prezzo</p>
            </div>
            <div class="col-md-4">
               <p class="details">Acquistata</p>
            </div>
            <div class="col-md-4">
               <p class="details">Concessionaria</p>
            </div>
         </div>
         <div class="row align-items-center">
            <div class="col-md-4">
               <p class="desc">€ 1500</p>
            </div>
            <div class="col-md-4 ">
               <p class="desc">16/07/2021</p>
            </div>
            <div class="col-md-4 ">
               <p class="desc">Verlanti Alessandro</p>
            </div>
            <!-- Fine Grid -->
         </div>
         <!-- Fine vehicle-card -->
      </div>
      <!-- fine row-container -->
      <!-- Contenitore per una singola card -->
      <div class="vehicle_card">
           <!-- Gestione stile Tabella degli attributi tramite row e cols di bootstrap -->
           <div class="row">
              <div class="col-md-12">
              <p class="title_car" > Mercedes-Benz Classe A</p>
              </div>
           </div>
           <div class="row">
              <div class="col-md-12">
                 <a href="single_product.html"><img src="{% static 'vsb_app/images/sfondo_sell.jpg' %}" alt=""></a>
              </div>
           </div>
           <div class="row align-items-center">
              <div class="col-md-4">
                 <p class="details">Prezzo</p>
              </div>
              <div class="col-md-4">
                 <p class="details">Acquistata</p>
              </div>
              <div class="col-md-4">
                 <p class="details">Concessionaria</p>
              </div>
           </div>
           <div class="row align-items-center">
              <div class="col-md-4">
                 <p class="desc">€ 1500</p>
              </div>
              <div class="col-md-4 ">
                 <p class="desc">16/07/2021</p>
              </div>
              <div class="col-md-4 ">
                 <p class="desc">Verlanti Alessandro</p>
              </div>
              <!-- Fine Grid -->
           </div>
           <!-- Fine vehicle-card -->
      </div>
      <!-- fine row-container -->
   </div>
{% endblock %}
{% block add_js %}

{% endblock %}