{% extends 'vsb_app/base.html' %}
{% load static %}

{% block title %}
    SELL-MY-CAR
{% endblock %}

{% block add_css %}
    <link rel="stylesheet" href="{% static 'vsb_app/css/sell_my_car.css' %}">
    <style>
        body{
            background-image: url("{% static 'vsb_app/images/11207.webp' %}");
        }
    </style>
{% endblock %}
{% block main %}
    {% if automobile_form.errors %}
        {% for field, errors in automobile_form.errors.items  %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <b>{{ field }}:</b>
                {% for error in errors %}
                    {{ error }}
                {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
        {% endfor %}
    {% endif %}

    {% if message %}
        <div class="alert alert-success alert-dismissible" role="alert">
                {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
    {% endif %}
    <div class="registration">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        {{ automobile_form.targa.label_tag }}
                        {{ automobile_form.targa }}
                    </td>
                    <td>
                        {{ automobile_form.stato.label_tag }}
                        {{ automobile_form.stato }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ automobile_form.marca.label_tag }}
                        {{ automobile_form.marca }}
                    </td>
                    <td>
                        {{ automobile_form.modello.label_tag }}
                        {{ automobile_form.modello }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ automobile_form.cilindrata.label_tag }}
                        {{ automobile_form.cilindrata }}
                    </td>
                    <td>
                        {{ automobile_form.cavalli.label_tag }}
                        {{ automobile_form.cavalli }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ automobile_form.anno_produzione.label_tag }}
                        {{ automobile_form.anno_produzione }}
                    </td>
                    <td>
                        {{ automobile_form.km_percorsi.label_tag }}
                        {{ automobile_form.km_percorsi }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ automobile_form.potenza.label_tag }}
                        {{ automobile_form.potenza }}
                    </td>
                    <td>
                        {{ automobile_form.carburante.label_tag }}
                        {{ automobile_form.carburante }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ automobile_form.prezzo.label_tag }}
                        {{ automobile_form.prezzo }}
                    </td>
                    <td>
                        {{ automobile_form.numero_proprietari.label_tag }}
                        {{ automobile_form.numero_proprietari }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ automobile_form.cambio.label_tag }}
                        {{ automobile_form.cambio }}
                    </td>
                    <td>
                        {{ image_form.immagine.label_tag }}
                        {{ image_form.immagine }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Registra" class="submit">
                    </td>
                </tr>
            </table>

        </form>
    </div>
{% endblock %}
{% block add_js %}
    <script type="text/javascript">
      function changePlaceholderSelect(sel){
         sel.style.color = "#fff";
      }
   </script>
{% endblock %}

