{% extends 'vsb_app/base.html' %}
{% load static %}

{% block title %}
    SINGLE-PRODUCT
{% endblock %}

{% block add_css %}
    <link rel="stylesheet" href="{% static 'vsb_app/css/single_product.css' %}">
    <link rel="stylesheet" href="{% static 'vsb_app/css/shop.css' %}">
    <link rel="stylesheet" href="{% static 'vsb_app/css/style.css' %}">
{% endblock %}
{% block main %}
    <section class="container sproduct my-5 pt-5">
      <h3 class="py-4">{{ object.marca }} {{ object.modello }}</h3>
      <div class="row mt-5">
         <div class="col-lg-5 col-md-12 col-12">
            <img class="img-fluid w-100 pb-1" src="{{ automobile.immagini.all.0.immagine.url }}" id="MainImg" alt="">
         </div>
         <div class="small-img-group">
            {% for image in automobile.immagini.all %}
                <div class="small-img-col">
                   <img src="{{ image.immagine.url }}" width="100%" class="small-img" alt="">
                </div>
            {% endfor %}
         </div>

         <div class="col-lg-6 col-md-12 col-12">
            <h2 class="sproduct_price">€ {{ object.prezzo|floatformat }}</h2>
            <h4 class="mt-5" style="font-family: Orbitron, sans-serif;">IN VENDITA DA:</h4>
            <div class="vendor__details">
               <span class="vendor_name">{{ object.concessionaria.ragione_sociale }}</span>
               <span class="vendor_number">{{object.concessionaria.user.telefono }}</span>
               <span class="vendor_email">{{ object.concessionaria.user.email }}</span>
            </div>
            <div style="margin-top: 2.8%;">
               <form method="post">
                   {% csrf_token %}
                    <input type="submit" class="buy__button" value="ORDINA">
               </form>
            </div>
         </div>
      </div>

      <div class="sproduct__details">
         <table>
            <caption>Dati principali</caption>
            <thead>
              <tr>
                <th scope="col">Stato</th>
                <th scope="col">Caratteristiche</th>
                <th scope="col">Motore</th>
                <th scope="col">Ambiente</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-label="Stato"><span class="title__details">Tipo di veicolo:</span> <span class="value__details">{{ object.stato }}</span></td>
                <td data-label="Marca"><span class="title__details">Marca:</span> <span class="value__details">{{ object.marca }}</span></td>
                <td data-label="Peso a vuoto"><span class="title__details">Peso a vuoto:</span> <span class="value__details">{{ object.peso_a_vuoto }} kg</span></td>
                <td data-label="Alimentazione"><span class="title__details">Alimentazione:</span> <span class="value__details">{{ object.alimentazione }}</span></td>
              </tr>
              <tr>
                <td data-label="Tipo di usato"><span class="title__details">Proprietari:</span> <span class="value__details">{{ object.numero_proprietari }}</span></td>
                <td data-label="Modello"><span class="title__details">Modello:</span> <span class="value__details">{{ object.modello}}</span></td>
                <td data-label="Trazione"><span class="title__details">Trazione:</span> <span class="value__details">{{ object.trazione }}</span></td>
                <td data-label="Consumo"><span class="title__details">Consumo:</span> <span class="value__details">{{ object.consumo }} km/kWh</span></td>
              </tr>
              <tr>
                <td data-label="Tipo di usato"><span class="title__details">Tipo di usato:</span> <span class="value__details">{{ object.tipologie_di_uso }}</span></td>
                <td data-label="Immatricolazione"><span class="title__details">Immatricolazione:</span> <span class="value__details">{{ object.anno_immatricolazione }}</span></td>
                <td data-label="Batteria"><span class="title__details">Batteria:</span> <span class="value__details">{{ object.batteria }} kWh</span></td>
                <td></td>
              </tr>
              <tr>
                <td data-label="Neopatentato"><span class="title__details">Neopatentato:</span> <span class="value__details">{{ object.neopatentato }}</span></td>
                <td data-label="Colore"><span class="title__details">Colore:</span> <span class="value__details">{{ object.colore }}</span></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
               <td></td>
               <td data-label="Carrozzeria"><span class="title__details">Carrozzeria:</span> <span class="value__details">{{ object.carrozzeria }}</span></td>
               <td></td>
               <td></td>
             </tr>
             <tr>
               <td></td>
               <td data-label="Porte"><span class="title__details">Porte:</span> <span class="value__details">{{ object.porte }}</span></td>
               <td></td>
               <td></td>
             </tr>
             <tr>
               <td></td>
               <td data-label="Posti"><span class="title__details">Posti:</span> <span class="value__details">{{ object.posti }}</span></td>
               <td></td>
               <td></td>
             </tr>
            </tbody>
          </table>
      </div>
   </section>

   {% if automobili_correlate and user.is_client %}
       <div class="container text-center mt-5 py-5" style="margin-top: 5%;">
          <h3 style="color: black;">Prodotti Correlati</h3>
          <hr class="mx-auto" style="border-top: 1px solid black;">
       </div>
        <div class="container_card">
          <div class="products">
             <div class="vehicle_card_row_container">
                {% for automobile in object_list %}
                <div class="vehicle_card">
                   <h4 class="title_car" id="marca_modello">{{ automobile.marca }} {{ automobile.modello }}</h4>
                   <a href="{% url 'vsb_app:single_product' automobile.pk %}"><img src="{{ automobile.immagini.all.0.immagine.url }}" id="img_car"></a>
                   <h3>€ {{ automobile.prezzo }}</h3>
                   <table class="details">
                      <tbody>
                         <tr>
                            <td>
                               <h6>Kilometraggio</h6>
                               <hr class="line">
                               <p class="desc">{{ automobile.km_percorsi }} KM</p>
                            </td>
                            <td>
                               <h6>Anno</h6>
                               <hr class="line">
                               <p class="desc">{{ automobile.anno_immatricolazione }}</p>
                            </td>
                            <td>
                               <h6>Potenza</h6>
                               <hr class="line">
                               <p class="desc">{{ automobile.potenza }} KW</p>
                            </td>
                            <td>
                               <h6>Alimentazione</h6>
                               <hr class="line">
                               <p class="desc">{{ automobile.alimentazione }}</p>
                            </td>
                         </tr>
                         <tr>
                            <td>
                               <h6>Cavalli</h6>
                               <hr class="line">
                               <p class="desc">{{ automobile.cavalli }} CV</p>
                            </td>
                            <td>
                               <h6>Cambio</h6>
                               <hr class="line">
                               <p class="desc">{{ automobile.cambio }}</p>
                            </td>
                            <td>
                               <h6>Stato</h6>
                               <hr class="line">
                               <p class="desc">{{ automobile.stato }}</p>
                            </td>
                            <td>
                               <h6>Proprietario</h6>
                               <hr class="line">
                               <p class="desc">{{ automobile.numero_proprietari }}</p>
                            </td>
                         </tr>
                      </tbody>
                   </table>
                </div>

                {% if forloop.counter|divisibleby:3 %}
             </div>
          </div>
          <div class="products">
             <div class="vehicle_card_row_container">
                {% endif %}
                {% endfor %}
             </div>
          </div>
       </div>
   {% endif %}

{% endblock %}
{% block add_js %}
    <script>
      var MainImg = document.getElementById('MainImg');
      var smallimg = document.getElementsByClassName('small-img');

      var image_auto_len = parseInt("{{ automobile.immagini.all|length }}");

      for(let i=0; i< image_auto_len; i++) {
          smallimg[i].onclick = function () {
              MainImg.src = smallimg[i].src;
          }
      }

   </script>
{% endblock %}