
li,button,input{
    text-decoration:none;
    list-style:none;
    font-style:normal;
    outline:none !important;
    transition:0.5s;
    resize:none;
}

.profile__list{
    position:relative;
    left:-20px;
}

.profile__list .link__profile{
    padding:20px 0;
    color:gray;
    border-bottom:1px solid white;
}

b{
    color:#fff;
}

.btn {
    background-color: hsl(219, 69%, 56%);
    color: white;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding:10px;
    border:0;
    outline:none;
    display:block;
    width:150px;
    margin:30px 0;
    text-align:center;
    border-radius:5px;
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: white; /* Green */
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-reset {
    background-color: red;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
}

.fa{
    color:white;
    cursor:pointer;
}

.profile__container{
    width:60%;
    margin:5vh auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.5);
    border-radius: 20px;
    background-color: black;
    margin-bottom: 5%;
}

.profile__container table{
    width:100%;
}

.profile__container table td{
    /*margin:30px;
    box-shadow:0px 6px 16px -6px rgba(1,1,1,0.5);*/
    padding:40px;
    /*background-color:#000;*/
    color:#fff;
}

.profile__container table td:nth-child(1){
    text-align:center;
}

.profile__container table td:nth-child(2) .fa{
    float:right;
}

.profile__container table td:nth-child(2) input{
    background:none;
    outline:none;
    border:0;
    color:gray;
    width:60%;
    pointer-events:none;
}

.profile__container table td:nth-child(1) section{
    position:relative;
    width:200px;
    height:200px;
    margin:5vh auto;
}

.profile__container table td:nth-child(1) .fa{
    position:absolute;
    right:25px;
    top:25px;
    font-size:2em;
}

.profile__container table td img{
    width:200px;
    height:200px;
    border-radius:50%;
    border: 3px solid white;
}

.profile__container table td h3{
    color:gray;
    font-weight:normal;
}

@media (max-width:820px) {
    .profile__container {
        width: 100%;
    }

    .profile__container table td {
        display: block;
        width: 90%;
        margin: 0px;
    }
}
