/********* About us *********/

.container-about {
  background-color: #fff;
  padding: 60px 0 60px 0;
  margin-bottom: 1%;
}


/****** Service box style 1 ******/

.service-box-sb {
  margin: 0 0 20px 0;
  text-align: center;
}

.service-box-sb h5 {
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 14px;
}

.service-box-sb .service-img {
  margin-bottom: 20px;
  border: solid 1px #f1f1f1;
  border-radius: 2px;
  padding: 1px;
}

.service-img  img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    cursor: pointer;
}

.service-img img:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.service-box-sb .service-img img {
  border-radius: 1px;
}

.service-box-sb .service-icon {
  margin: 0 auto 18px;
  color: #8a8f6a;
  text-align: center;
  font-size: 40px;
}

.service-box-sb .img-round,
.service-box-sb .img-round img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
}

.service-box-sb .service-icon .fa {}

.service-box-sb .service-info {
  margin-top: 4px;
  overflow: hidden;
}

.service-box-sb .service-info h4 {
  color: #000;
}

.service-box-sb .service-info .desc {
  margin-top: 15px;
}

.service-box-sb .button {
  margin-top: 27px;
}

.service-box-sb.only-image {
  position: relative;
}

.service-box-sb.only-image .service-img-content {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  text-align: center;
  width: 100%;
  height: 100%;
}

.service-box-sb.only-image .service-img-title {
  display: table;
  width: 100%;
  height: 100%;
}

.service-box-sb.only-image .service-img-title span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 20px;
  color: #fff;
}

.service-box-sb.only-image .service-img-title span h4 {
  color: #fff;
  font-size: 24px;
  letter-spacing: 6px;
}

.service-box-sb.only-image .service-img-title span p {
  font-style: italic;
  letter-spacing: 2px;
}

.see-more {
  text-align: center;
  display: inline-block;
  color: #8a8f6a;
  font-size: 13px;
  margin-top: 10px;
  position: relative;
}

.see-more:hover .link-text {
  text-decoration: line-through;
}

.see-more .link-arrow {
  font-size: 14px
}

.see-more:hover {
  color: #8a8f6a;
}

.see-more .line {
  background-color: #8a8f6a;
  width: 0;
  position: absolute;
  top: 96%;
  left: 0;
  height: 1px;
  opacity: 0;
  -webkit-transition: all .25s cubic-bezier(.39, .575, .565, 1);
  -moz-transition: all .25s cubic-bezier(.39, .575, .565, 1);
  -o-transition: all .25s cubic-bezier(.39, .575, .565, 1);
  -ms-transition: all .25s cubic-bezier(.39, .575, .565, 1);
  transition: all .25s cubic-bezier(.39, .575, .565, 1);
}

.see-more:hover .line {
  width: 100%;
  opacity: .5;
}

/*=================================================
32 - Fraction-slider
=================================================*/

.slider-wrapper {
  position: relative;
  overflow: hidden;
}

.fr-slider{
  position: relative;
  overflow: visible;
  position: relative;
  max-width: 1170px;
  width: 100%;
  /*  height:400px; when responsive, comment this out */
  margin: 0 auto;
}

.fraction-slider {
  position: relative;
  width: 100%;
  height: auto;
  overflow: visible;
}

.fraction-slider .slide {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.fraction-slider .slide-bg {
  background-color: #fff;
  height: 100% !important;
}

.fraction-slider .fs_obj {
  display: block;
  display: none;
  position: absolute;
  top: 0px;
  left: 100%;
  z-index: 7000;
}

.fraction-slider .fs_fixed_obj {
  z-index: 6000;
  left: 0;
}

.fraction-slider .fs_obj * {
  display: inline-block;
  position: relative;
  top: 0px;
  left: 0px;
}

.slider .slide {
  display: none;
}

.fr-slider .fs_loader,
.fr-slider-home2 .fs_loader {
  width: 100%;
  height: 550px;
  background: url(../images/loading.gif) center center no-repeat #fff;
  z-index: 9999;
  overflow: hidden;
}


/** CONTROLS **/

.fraction-slider .prev,
.fraction-slider .next {
  line-height: 66px;
  text-align: center;
  position: absolute;
  top: 43%;
  font-size: 36px;
  cursor: pointer;
  z-index: 9999;
  font-family: Orbitron;
  color: #fff;
}

.fraction-slider .next:before {
  content: '\f3d3';
}

.fraction-slider .prev:before {
  content: '\f3d2';
}

.fraction-slider .prev {
  left: 2%;
  padding-right: 5px;
}

.fraction-slider .next {
  right: 2%;
  padding-left: 5px;
}

.fraction-slider:hover .prev,
.fraction-slider:hover .next {
  display: block;
}

.link{
  background: none;
  border: none;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  cursor: pointer;
}

.user_icon{
  color: black;
  cursor: pointer;
}

.user_icon:hover{
  color: rgb(185, 182, 182);
}

.button {
  background-color: black;
  color: white;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: white;
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button__about{
  display: inline-block;
  background-color: hsl(219, 69%, 56%);
  color: white;
  padding: 1rem 2rem;
  border-radius: .25rem;
  transition: .3s;
  font-family: Orbitron, sans-serif;
}

.button__about:hover{
  background-color: white;
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.about__container{
  background-color: hsl(219, 4%, 7%);
  width: 100%;
  height: auto;
  row-gap: 6rem;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.about__group{
  position: relative;
  display: flex;
  justify-content: space-between;
}

.about__group img{
  position: relative;
}

.about__group figure::before{
  position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}

.about__group figure:hover::before{
  -webkit-animation: shine .75s;
	animation: shine .75s;
}

@-webkit-keyframes shine {
	100% {
		left: 150%;
	}
}
@keyframes shine {
	100% {
		left: 150%;
	}
}

/*.about__group img{
  -webkit-transform: rotate(15deg) scale(0.7);
	transform: rotate(15deg) scale(0.7);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.about__group img:hover{
  -webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
}*/

.about__img{
  border-radius: .5rem;
  padding: 2% 2% 2% 2%;
}

.about__title{
  text-align: initial;
  margin-bottom: 2rem;
  color: white;
}

.about__description{
  margin-bottom: 2rem;
  color: hsl(219, 8%, 75%)
}

.popular__container{
  padding-top: 1rem;
}

.popular__card{
  position: relative;
  width: 238px;
  background-color: hsl(219, 4%, 7%);
  padding: 2rem 1.5rem 1.5rem;
  border-radius: 1rem;
  margin-bottom: 3.5rem;
  overflow: hidden;
}

/*.shape__smaller{
  width: 180px;
  height: 180px;

}

.popular__card .shape__smaller{
  position: absolute;
  top: -2.5rem;
  left: -2.5rem;
}*/

.popular__title,
.popular__subtitle,
.popular__img{
  position: relative;
}

.popular__title{
  font-size: 2rem;
  margin-bottom: .25rem;
  color: white;
}

.popular__subtitle{
  font-size: 1.5rem;
  color: white;
  font-weight: 400;
}

.popular__img{
  width: 160px;
  margin: .75rem 0 1.25rem 1.5rem;
  transition: .3s;
}

.popular__data{
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: .5rem 1.25rem;
  margin-bottom: 2rem;
}

.popular__data-group{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  font-size: .75rem;
  color: white;
}

.popular__data i{
  font-size: 1.5rem;
}

.popular__price{
  font-size: 1.5rem;
  color: white;
}

.popular__button{
  border: none;
  outline: none;
  padding: .75rem 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 14px;
  border-radius: 1rem 0 1rem 0;
  transition: .3s;
  cursor: pointer;
  background-color: black;
  color: white;
}

.popular__button:hover{
  background-color: white;
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.popular__card:hover .popular__img{
  transform: translateY(-.25rem);
}

.swiper-pagination-bullet{
  background: hsl(219, 8%, 75%);
}

.swiper-pagination-bullet-active{
  background-color: hsl(219, 69%, 56%);
}

.offer{
  position: relative;
}

.offer__container{
  grid-template-rows: max-content 224px;
}

.offer__bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.offer__data,
.offer__img{
  position: relative;
}

.offer__data{
  color: white;
  width: 50%;
}

.offer__button{
  background-color: hsl(219, 69%, 56%);
  color: white;
  padding: 1rem 2rem;
  border-radius: .25rem;
  font-size: 14px;
  transition: .3s;
  font-family: Orbitron, sans-serif;
  transition: .3s;

}

.offer__button:hover{
  background-color: white;
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.offer__title{
  margin-bottom: 2rem;
}

.offer__description{
  margin-bottom: 3rem;
}

.offer__img{
  max-width: initial;
  width: 400px;
  bottom: 2rem;
  right: -60rem;
}

.logos__img{
  width: 80px;
  opacity: .4;
  transition: .3s;
  padding-top: 10rem;
}

.logos__container{
  grid-template-columns: repeat(3, max-content);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding-bottom: 2rem;
  background-color: hsl(219, 4%, 7%);
  margin-top: 3%;
}

.logoos_content a{
  text-decoration: none;
}

.logos__img:hover{
  opacity: 1;
}

.footer{
  position: relative;
  overflow: hidden;
  background-color: hsl(219, 4%, 7%);
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.footer .shape__big,
.footer .shape__small{
  position: absolute;
}

.footer .shape__big{
  width: 300px;
  height: 300px;
  left: -12rem;
  top: 6rem;
}

.footer .shape__small{
  right: -13rem;
  bottom: -6rem;
}

.footer__container{
  row-gap: 2.5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.footer__logo{
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  color: hsl(219, 8%, 95%);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
  transition: .3s;
}

.footer__description{
  color: hsl(219, 8%, 75%);
}

.footer__logo i{
  font-size: 2rem;
  font-weight: 500;
}

.footer__logo:hover{
  color: hsl(219, 69%, 56%);
}

.footer__title{
  font-size: 2rem;
  margin-bottom: 1.25rem;
  color: hsl(219, 8%, 95%);
  font-weight: 600;
}

.footer__links{
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
  list-style: none;
}

.footer__link,
.footer__social-link{
  color: hsl(219, 8%, 75%);
  transition: .3s;
}

.footer__link:hover,
.footer__social-link:hover{
  color: hsl(219, 8%, 95%);
}

.footer__social{
  display: flex;
  column-gap: 1.5rem;
}

.footer__social-link{
  font-size: 2rem;
}

/** Features Section **/
.features{
  overflow: hidden;
  position: relative;
  margin-bottom: 6%;
}

.features__title{
  text-align: center;
  color: black;
}

.features__container{
  padding-top: 2rem;
  grid-template-columns: 285px;
  justify-content: center;
}

.features__group{
  display: grid;
  position: relative;
  z-index: 10;
}

.features__img{
  width: 150px;
  justify-self: center;
}

.features__card{
  width: 112px;
  /*background-image: linear-gradient(rgba(219, 216, 216, 0.2), rgba(146,146,146,0.2));*/
  background-color: hsla(0, 0%, 100%, .1);
  backdrop-filter: blur(16px);
  border-radius: 2rem;
  text-align: center;
  color: black;
  position: absolute;
}

.features__card-1{
  top: 4rem;
  left: 45rem;
}

.features__card-2{
  top: 8rem;
  right: 45rem;
}

.features__card-3{
  left: 45rem;
  bottom: 2rem;
}

.features__card-title{
  font-size: 1rem;
  margin-bottom: .25rem;
}

.features__card-description{
  font-size: 1rem;
}

.features__map{
  max-width: initial;
  display: block;
  width: 500px;
  position: absolute;
  right: 35%;
  top: 8rem;
  margin: auto;
  transform: rotate(-22deg);
}

.clip__container{
  margin-top: 3%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.clip__img{
  width: 50%;
  height:auto;
  clip-path: polygon(24% 0, 100% 0%, 71% 100%, 0% 100%);
}

.description__container{
  text-align: center;
  color: lightgrey;
  padding: 50px;
  width: 30%;
  height: 10%;
  margin-top: 7%;
  font-size: 14px;
  background-color: black;
  border-radius: 10px;
}